<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پرو لرن-مرجع آموزش های برنامه نویسی ProLearn.com</title>
  <link rel="icon" href="/pics/logo.png">

  <link rel="stylesheet" href="/css/bootstrap-rtl.css">
  <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.svg">
  <script src="/scripts/jquery-1.10.2.min.js"></script>
  <script src="/scripts/bootstrap-rtl.js"></script>

</head>

<body>
  <div class="container">
    <div class="row" id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:4000/auth/mainpage">ProLearn.com</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="#"><a href="http://localhost:4000/auth/mainpage">صفحه اصلی
                  <span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="http://localhost:4000/auth/login">حساب
                  کاربری</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">دوره های رایگان <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="http://localhost:4000/auth/discounted">آموزش HTML5</a>
                  </li>

                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <a href=http://localhost:4000/auth/mainpage title="www.ProLearn.com"> <img src="/pics/download.png"
                  height="70px" width="175px"></a>

            </form>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="row" style="margin-top: 110px;">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div class="panel panel-primary">
          <div class="panel-heading text-center">حساب کاربری</div>
          <div class="panel-body">
            <form action="/auth" method="post">
              <div class="form-group" >
                <label for="exampleInputEmail1">ایمیل شما</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">کلمه عبور</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="کلمه عبور" required>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"> مرا به خاطر بسپار
                </label>
              </div>
              <button type="submit" class="btn btn-success btn-block">ورود به سایت</button>
              <br>
              <a href="http://localhost:4000/auth/register" class="btn btn-primary btn-lg active btn-block" role="button">جهت
                ثبت نام کلیک کنید</a>


            </form>
          </div>
        </div>




        <div id="content" class="col-lg-8 col-md-9 col-sm-6 col-xs-12"></div>



      </div>
    </div>
    <div id="footer" class="row"></div>


  </div>
  </div>

  <!--end navbar-->
  <footer class="bs-docs-footer" style="background-position-x: center;">
    <div class="container">

      <form class="navbar-form navbar-left">
        <a href=http://localhost:4000/auth/mainpage title="www.ProLearn.com"> <img src="/pics/download.png" height="150px"
            width="250px"></a>
      </form>
      <ul class="bs-docs-footer-links">
        <li><a href="https://github.com/twbs/bootstrap"><img
              src="/pics/rendering-notebooks-on-github-jupyter-blog-813503.png" width="60px" height="35px"></a>
        </li>
        <li><a href="https://instagram.com"><img src="/pics/—Pngtree—instagram icon instagram logo_3584852.png"
              width="40px" height="40px"></a></li>
        <li><a href="https://twitter.com/amir nobari"><img src="/pics/sm_5af29f10f15ef.jpg" width="35px"
              height="35px"></a></li>
        <br>
        <li><a><img src="/pics/images.png" width="35px" height="35px">تبریز-پاستورجدید-ساخنمان شایان </a></li>
      </ul>
      <br>
      <br>
      <p><b>تمامی امتیاز حقوقی طراحی این سایت مربوط به تیم پرولرن میباشد . </b></p>
    </div>
  </footer>

</body>

</html>
