<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>پرو لرن-مرجع آموزش های برنامه نویسی ProLearn.com</title>
  <link rel="icon" href="/pics/logo.png">
  <link rel="stylesheet" href="/css/bootstrap-rtl.css">
  <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.svg">
  
<script>alert('عزیز به سایت پرولرن خوش آمدید'+'<%-req.user.name%>')</script>
  
  <script src="/scripts/jquery-1.10.2.min.js"></script>
  <script src="/scripts/bootstrap-rtl.js"></script>
</head>

<body>

  <div class="container">
    <div class="row" id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:4000/auth/mainpage">ProLearn.com</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <br>
              <a href="/logout" class="btn btn-success btn-block">خروج از حساب کاربری</a>
            </ul>
            </li>
            </ul>


            <form class="navbar-form navbar-left">
              <a href=http://localhost:4000/="www.ProLearn.com"> <img src="/pics/download.png" height="70px"
                  width="175px"></a>
            </form>

            </form>


          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12" id="sidebar"></div>




    </div>
  </div>
  <div id="footer" class="row"></div>


  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="list-group" style="margin-top: 30px;">

    <div class="col-md-3 col-sm-6 col-xs-6 pull-right " id="sidebar">

      <a href="#" class="list-group-item active">
        اخبار سایت
      </a>

      <a href="https://barnamenevisan.org/" class="list-group-item">وب سایت برنامه نویسان</a>
    </div>
  </div>
  <div id="content" class="col-lg-8 col-md-9 col-sm-6 col-xs-12" style="margin-top:5px;">


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/pics/Django.png" width="80%" alt="...">
          <div class="carousel-caption">
            صفر تا صد (Django)
          </div>
        </div>
        <div class="item">
          <img src="/pics/html5.jpg" width="80%" alt="...">
          <div class="carousel-caption">
            دوره رایگان HTML5
          </div>
        </div>
        <div class="item">
          <img src="/pics/js.jpg" width="80%" alt="...">
          <div class="carousel-caption">
            دوره جاوااسکریپت پیشرفته
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img src="/pics/Django.png" height="50%" alt="...">
          <div class="caption">
            <h3>(Django)آموزش صفر تا صد فریمورک جانگو</h3>
            <p style="font-size: small;">فریم ورک جنگو ( Django ) یکی از برترین فریم ورک های حال حاضر در زمینه ی برنامه
              نویسی وب می باشد. این فریم ورک با بهره گیری از زبان قدرتمند پایتون به عنوان هسته ی اصلی خود توانایی های
              بسیاری را برای برنامه نویسان جهت پیاده سازی پروژه های بزرگ و حرفه ای ایجاد می کند.

              اصول کدنویسی در این فریم ورک بسیار ساده بوده و هر برنامه نویسی که مقداری با پایتون آشنایی داشته باشد
              میتواند از این فریم ورک قدرتمند جهت ایجاد پروژه های مبتنی بر وب استفاده کند.

              برخلاف سادگی کار با این فریم ورک ، پروژه هایی نظیر Instagram ، YouTube ، Spotify ، Udemy و بسیاری دیگر در
              هسته ی اصلی خود از Django استفاده میکنند.

              در این دوره ی آموزشی قصد داریم که این فریم ورک جذاب و دوست داشتنی را از مباحث مقدماتی تا نکات پیشرفته
              بررسی کنیم.

              جهت استفاده از این دوره ی اموزشی دوستان باید با تکنولوژی های HTML ، CSS ، Javascript ، Jquery و Bootstrap
              آشنایی داشته باشند.

            </p>
            <p><a href="#" class="btn btn-primary btn-block" role="button">خرید دوره</a></p>
            <p style="color: crimson; text-align: center;">قیمت خرید این دوره:480/000 تومان</p>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
          <img src="/pics/html5.jpg" height="50%" alt="...">
          <div class="caption">
            <h3>آموزش رایگان HTML5</h3>
            <p style="font-size: small;"> زبان HTML، پایه و اساس صفحات وب را تشکیل میدهد و اولین قدم برای شروع طراحی
              صفحات وب محسوب میشود که ما در این دوره آموزشی یعنی دوره آموزش html یا آموزش تصویری html5 به صورت جامع html
              و html5 رو مورد بررسی قرار خواهیم داد.

              HTML مخفف کلمات Hyper Text Markup Language است که ترجمه فارسی آن برابر با زبان برچسب‌گذاری ابر متن خواهد
              بود. HTML یک زبان برنامه‌نویسی نیست بلکه یک زبان برای نشانه‌گذاری یا Markup است. تفاوت یک زبان
              برنامه‌نویسی و یک زبان نشانه‌گذاری در شکل محتوای آن‌هاست. زبان‌های برنامه‌نویسی برای اجرای یک تابع، انجام
              کارکردی منطقی و… استفاده می‌شود اما HTML در واقع سنگ بنایی برای نمایش و تحویل محتوا است. در یک زبان برچسب
              یا نشانه‌گذاری ابزار اصلی ما تگ‌ها هستند، آن‌ها به ما قدرت نمایش محتوا در قالب‌های متفاوت را می‌دهند.توصیه
              میشود ( دوره آموزشی طراحی سایت ) را نیز مشاهده کنید

              HTML با استفاده از تگ های (برچسب) مخصوصی که دارد ، یک صفحه وب را نشانه گذاری میکند و به این وسیله ساختار
              اصلی یک صفحه وب را تشکیل میدهد. هر یک از این تگ ها برای مرورگر معنا و مفهوم خاصی دارند و برای ایجاد یک
              عنصر خاص باید از یک تگ خاص استفاده کرد برای مثال تگ img برای تصاویر در آموزش html.</p>
            <p><a href="#" class="btn btn-primary btn-block" role="button">خرید دوره</a></p>
            <p style="color: crimson; text-align: center;">قیمت خرید این دوره:<del>180/000 تومان</del></p>
            <p style="color: crimson; text-align: center;">این دوره بصورت رایگان میباشد.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-12">
      <div class="thumbnail">
        <img src="/pics/javascript.jpg" height="50%" alt="...">
        <div class="caption">
          <h3>دوره پیشرفته جاوااسکریپت(Javascript)</h3>
          <p style="font-size: small;"> جاوا اسکریپت یکی از مهم‌ترین زبان‌های برنامه‌نویسی حوزه‌ی وب محسوب می‌شود. جاوا
            اسکریپت اولین بار با اسم LiveScript و توسط شرکت نت اسکیپ معرفی شد و بعدها به جاوا اسکریپت تغییر نام داد.
            البته جالب است بدانید جاوا اسکریپت نه از نظر ساختار و نه از نظر مفاهیم، شباهتی به زبان جاوا ندارد و این
            تشابه اسمی، در حد همان کلمات و نام و نشان باقی مانده است.

            به‌طور طبیعی بعد از یادگیری HTML و CSS نوبت یادگیری جاوا اسکریپت می‌رسد. یادگیری جاوا اسکریپت چندان کار سختی
            نیست؛ ولی نکته مهم در رابطه با یادگیری این زبان، آن است که بر خلاف اچ‌تی‌ام‌ال یا سی‌اس‌اس که زبان‌های
            نشانه‌گذاری محسوب می‌شوند، جاوا اسکریپت یک زبان «برنامه نویسی» است. پس انتظار یادگیری سریع و بدون دردسر
            نداشته باشید و خود را برای چالش‌های جدید و درگیری‌های ذهنی بیشتر آماده کنید.
          <p><a href="#" class="btn btn-primary btn-block" role="button">خرید دوره</a></p>
          <p style="color: crimson; text-align: center;">قیمت خرید این دوره:415/000 تومان</p>

        </div>
      </div>
    </div>
  </div>
  <!--end navbar-->
  <footer class="bs-docs-footer" style="background-position-x: center;">
    <div class="container">

      <form class="navbar-form navbar-left">
        <a href=http://localhost:4000/auth/mainpage title="www.ProLearn.com"> <img src="/pics/download.png"
            height="150px" width="250px"></a>
      </form>
      <ul class="bs-docs-footer-links">
        <li><a href="https://github.com/twbs/bootstrap"><img
              src="/pics/rendering-notebooks-on-github-jupyter-blog-813503.png" width="60px" height="35px"></a>
        </li>
        <li><a href="https://instagram.com"><img src="/pics/—Pngtree—instagram icon instagram logo_3584852.png"
              width="40px" height="40px"></a></li>
        <li><a href="https://twitter.com/amir nobari"><img src="/pics/sm_5af29f10f15ef.jpg" width="35px"
              height="35px"></a></li>
        <br>
        <li><a><img src="/pics/images.png" width="35px" height="35px">تبریز-پاستورجدید-ساخنمان شایان </a></li>
      </ul>
      <br>
      <br>
      <p><b>تمامی امتیاز حقوقی طراحی این سایت مربوط به تیم پرولرن میباشد . </b></p>
    </div>
  </footer>


</body>


</html>